/* Font Futura PT Light: Copyright ©ParaType, 2007. All rights reserved.*/
@font-face { font-family: 'FuturaPT'; font-style: normal; font-weight: 300; src: url("467f966d518e604e282122b7e0a113446cd0ecf8") format('woff2'); }
/* Font Futura PT Demi: Copyright ©ParaType, 2007. All rights reserved.*/
@font-face { font-family: 'FuturaPT'; font-style: normal; font-weight: 600; src: url("7baa6be44c615917351d049ef1ba2d67e0d4afd4") format('woff2'); }
/* Font Futura PT Heavy: Copyright ©ParaType, 2007. All rights reserved.*/
@font-face { font-family: 'FuturaPT'; font-style: normal; font-weight: 700; src: url("bcb91e0e5546ffccaeaa67fcf6bbcfb71ec14cf4") format('woff2'); }
